html, body, ul, li, p, div, img, h1, h2, h3, button {
    margin: 0;
    padding: 0;
}

body {
    /* background: #ffffff; */
    font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue",sans-serif;
    color: #777777;
    font-size: 12px;
    line-height: 1.5;
    margin: 0 auto;
    display: block;
    position: relative;
    /*min-height: 500px;*/
    background-image: url("../img/letter/paper.jpg");
    background-repeat: repeat;
}


a {
    text-decoration: none;
    color: #777777;
}

a:hover {
    color: #aaaaaa;
}

::-moz-selection {
  color: #ffffff;
  background: #eecaca;
}

::selection {
  color: #ffffff;
  background: #eecaca;
}

/*=============INDEX=============*/

.con {
    padding-top: 80px;
    max-width: 1140px; 
    margin: auto;
}

.header {
    display: block;
    width: 800px;
    min-height: 50px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 5vh;
    position: relative;
}

h1{
    font-size: 1.2em;
    font-weight:normal;
    position: absolute;
    text-align: left;
    color: #444444;
    letter-spacing: 10px;
}


nav {
    display: block;
    float: right;
    position: relative;
    margin: auto;
    padding-top: 6px;
    font-size: 1em;
    color: #000000;
    text-align: center;
    letter-spacing: 4px;
}

.galleryfix{
    right: calc(50vw - 400px);
    position: fixed;
}

nav ul li {
    display: inline-block;
    padding-right: 24px;
    list-style-type: none;
    margin: auto;
}

nav ul li:last-child{
    padding-right: 0;
}


.content {
    clear: both;
    display: block;
    margin: auto;
    width: 800px;
    height: auto;
}

.arrow{
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.lower{
    margin-top: 150px;
}

.opa50{
    opacity: 0.5;
    transition: opacity 1s;
}
.opa50:hover{
    opacity: 1;
    transition: opacity 1s;
}

.opa10{
    opacity: 0.1;
    transition: opacity 1s;
}
.opa10:hover{
    opacity: 1;
    transition: opacity 1s;
}

.hover-text p{
    opacity: 0;
}

.hover-text:hover p{
    opacity: 1;
    transition: opacity 1s;
}

.inline{
    display: inline;
}
.thru{
    text-decoration:line-through;
}

.grid{
    width: 100%;
    display: inline-grid;
    column-gap: 0px;
    grid-row-gap: 0px;
    align-items:center;
    height: 500px;
    overflow: hidden;
}

.g2{
    grid-template-columns: 40% auto;
}
.g3{
    grid-template-columns: 40% 20% auto;
}

.g2-repeat{
    grid-template-columns: repeat(2, minmax(0, 1fr));
}


.float-right{
    float: right;
    margin-left: 20px;
}
.float-left{
    float: left;
    margin-right: 20px;
}
.clear-both{
    clear: both;
    margin-bottom: 10px;
}
span{
    opacity: 0;
}



/*=============MOBILE=============*/

@media only screen and (max-width:800px) {

    .con{
        width: 90%;
    }
    .header{
        width: 100%;
    }

    .content{
        width: 100%;
    }
    .grid{
        width: 100%;
        overflow: hidden;
    }

    .g2{
        grid-template-columns: 20% auto;
    }

    .g3{
        grid-template-columns: 20% 10% auto;
    }

    .costar{
        width: 180px;
        margin-left: -80%;
        margin-top: -200px;
    }

    .hover-text p, .opa10, .opa50{
        opacity: 0.8;
    }

    .rav{
        grid-template-columns: 100%;
        overflow: visible;
    }
}

